<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Treatment - Tvastra</title>
    <link href="./../assets/css/reset.css" rel="stylesheet" type="text/css">    
    <link href="./../assets/css/theme.css" rel="stylesheet" type="text/css">   
    <link href="./../assets/css/headAfooter.css" rel="stylesheet" type="text/css">     
    <link href="./../assets/css/styles.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/0c23d4ccc5.js" crossorigin="anonymous"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjgKrsMexm3lSbfFaIgQepfWZaEJRsjjc&callback=initMap" type="text/javascript"></script>
</head>
<body>
    <header>
        <nav>
            <img src="./../assets/images/Logo.jpg" alt="Tvastra Logo">
            <i class="fas fa-bars"></i>
            <ul id="links">
                <li><a href="./doctor.html">Doctors</a></li>
                <li><a href="./hospital.html">Hospitals</a></li>
                <li><a href="./aboutTreatment.html">Treatment</a></li>
                <li><a href="">Other Services</a></li>
                <li><a href="./aboutUs.html">About</a></li>
            </ul>
            <div id="buttons">
                <button class="btn-light" onclick="document.location='./login.html'">Login / Sign Up</button>
                <button class="btn-primary">Get a Quote</button>           
            </div>
        </nav>
    </header>

    <div class="banner" id="treatment-banner">
        <h2>Dentistry</h2>
        <p>Home / Dentistry</p>
    </div>

    <section id="treatment-description">
        <div>
            <h4>Vaccination</h4>
        <div id="treatment-section">
            <div>
                <img src="./../assets/images/treatments/dentist.jpg">            
            </div>            
            <div id="about-treatment">
                <h6>About Dentist Department</h6>
                <p>The vaccination of dentists against various vaccine-preventable infections is the most important measure of primary prevention against such diseases which would otherwise prove fatal for both dentists and thier patients.</p>
                <ul>
                    <li>CF-related diabities (monthly)</li>
                    <li>Gastrointestinal (monthly)</li>
                    <li>CF-related liver disease (monthly)</li>
                    <li>Sweat testing (three times per month)</li>
                </ul>
            </div>
        </div>
        
        <div id="disorders">
            <div>
                <i class="fas fa-stethoscope"></i>
                <h6>Central Nervous System</h6>
                <p>Open visitation with only two visitors in a room at any time. No one under 12 years of any may.</p>
            </div>
            <div>
                <i class="fas fa-tablets"></i>
                <h6>Allergic Disorders</h6>
                <p>Open visitation with only two visitors in a room at any time. No one under 12 years of any may.</p>
            </div>
            <div>
                <i class="fas fa-heartbeat"></i>
                <h6>Neoplastuc Disorders</h6>
                <p>Open visitation with only two visitors in a room at any time. No one under 12 years of any may.</p>
            </div>
        </div>   
    </div>    
        <div id="tables">
            <div class="table">
                <h6>Service Details</h6>
                <div class="table-content">
                    <div class="row">
                        <p>Price</p>
                        <p>from $340</p>
                    </div>
                    <div class="row">
                        <p>Duration</p>
                        <p>10 minutes</p>
                    </div>
                    <div class="row">
                        <p>Office</p>
                        <p>#46</p>
                    </div>
                    <div class="row">
                        <p>Doctor</p>
                        <p>Dr. Elizabeth Beard</p>
                    </div>
                    <div class="row">
                        <p>Categories</p>
                        <p>Family Medicine</p>
                    </div>
                </div>
            </div>
            <div class="table">
                <h6>Schedule</h6>
                <div class="table-content">
                    <div class="row">
                        <p>Tuesday</p>
                        <p>10:00am - 01:00pm</p>
                    </div>
                    <div class="row">
                        <p>Friday</p>
                        <p>07:00am - 10:00pm</p>
                    </div>
                </div>
            </div>
        </div> 
    </section>
    
    <section id="more-services">
        <div id="service-head">
            <h4>More Services</h4>  
            <div id="navigate-btn">
                <i class="fas fa-chevron-left"></i>
                <i class="fas fa-chevron-right"></i>
            </div>
        </div> 
        <div id="service-cards">
            <div>
                <img src="./../assets/images/treatments/orthopedics.jpg">
                <p>Orthopedic Surgery</p>
            </div>
            <div>
                <img src="./../assets/images/treatments/cancer.jpg">
                <p>Cancer</p>
            </div>
            <div>
                <img src="./../assets//images/treatments/cardiology.jpg">
                <p>Cardiology</p>
            </div>
        </div>          
    </section>

    <footer>
        <img src="./../assets/images/footerlogo.png" alt="logo">
        <ul id="links">
            <li><a href="./doctor.html">Doctors</a></li>
            <li><a href="./hospital.html">Hospitals</a></li>
            <li><a href="./aboutTreatment.html">Treatment</a></li>
            <li><a href="">Other Services</a></li>
            <li><a href="./faq.html">FAQs</a></li>
        </ul>
        <ul id="social">
            <li><i class="fab fa-facebook-f"></i></li>
            <li><i class="fab fa-pinterest-p"></i></li>
            <li><i class="fab fa-twitter"></i></li>
            <li><i class="fab fa-google-plus-g"></i></li>
            <li><i class="fab fa-instagram"></i></li>
        </ul>
        <p>All Rights Reserved. &copy tvastra 2018</p>
    </footer>
    
</body>
</html>


