<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Doctor - Tvastra</title>
    <link href="./../assets/css/reset.css" rel="stylesheet" type="text/css">
    <link href="./../assets/css/theme.css" rel="stylesheet" type="text/css">
    <link href="./../assets/css/headAfooter.css" rel="stylesheet" type="text/css">
    <link href="./../assets/css/styles.css" rel="stylesheet" type="text/css">
    <link href="./../assets/css/faq.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/0c23d4ccc5.js" crossorigin="anonymous"></script>
    <script defer sync src="./../assets/scripts/first.js"></script>
</head>

<body>
    <%- include('header.ejs') %> 
    <%- include('toaster.ejs') %> 


    <div class="banner">
        <h2>About John Nisson</h2>
        <p>Home / Doctor Profile</p>
    </div>

    <section id="about-container">
        <div id="about-section">
            <div id="profile">
                <img src="./../assets/images/doctors/charlie.jpg">
                <button class="btn-primary">Book an appointment</button>
            </div>
            <div id="info">
                <div id="name">
                    <i class="icon"></i>
                    <h2>John Nission</h2>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim architecto optio aliquid, itaque modi
                    laborum laboriosam minus quia obcaecati voluptate quisquam qui nemo deleniti cupiditate nihil
                    voluptatem saepe odit libero rerum. Corrupti odio tempora doloribus dignissimos similique nihil
                    error est.</p>
                <div id="details">
                    <div class="question">
                        <div class="heading">
                            <i class="fas fa-award"></i>
                            <h5>Specialization</h5>
                        </div>
                        <i class="fas fa-chevron-down"></i>
                    </div>
                    <div class="answer">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam ducimus consectetur
                            totam optio nisi molestiae quia quae repellat quod, dolore voluptas autem repudiandae
                            accusamus eligendi corrupti explicabo cupiditate facilis expedita.</p>
                    </div>
                    <div class="question">
                        <div class="heading">
                            <i class="fas fa-stethoscope"></i>
                            <h5>List Of Treatments</h5>
                        </div>
                        <i class="fas fa-chevron-down"></i>
                    </div>
                    <div class="answer">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam ducimus consectetur
                            totam optio nisi molestiae quia quae repellat quod, dolore voluptas autem repudiandae
                            accusamus eligendi corrupti explicabo cupiditate facilis expedita.</p>
                    </div>
                    <div class="question">
                        <div class="heading">
                            <i class="fas fa-building"></i>
                            <h5>Work Experience</h5>
                        </div>
                        <i class="fas fa-chevron-down"></i>
                    </div>
                    <div class="answer">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam ducimus consectetur
                            totam optio nisi molestiae quia quae repellat quod, dolore voluptas autem repudiandae
                            accusamus eligendi corrupti explicabo cupiditate facilis expedita.</p>
                    </div>
                    <div class="question">
                        <div class="heading">
                            <i class="fas fa-star"></i>
                            <h5>Qualification</h5>
                        </div>
                        <i class="fas fa-chevron-down"></i>
                    </div>
                    <div class="answer">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam ducimus consectetur
                            totam optio nisi molestiae quia quae repellat quod, dolore voluptas autem repudiandae
                            accusamus eligendi corrupti explicabo cupiditate facilis expedita.</p>
                    </div>
                    <div class="question">
                        <div class="heading">
                            <i class="fas fa-trophy"></i>
                            <h5>Awards</h5>
                        </div>
                        <i class="fas fa-chevron-down"></i>
                    </div>
                    <div class="answer">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam ducimus consectetur
                            totam optio nisi molestiae quia quae repellat quod, dolore voluptas autem repudiandae
                            accusamus eligendi corrupti explicabo cupiditate facilis expedita.</p>
                    </div>
                    <div class="question">
                        <div class="heading">
                            <i class="fas fa-map-marker-alt"></i>
                            <h5>Location</h5>
                        </div>
                        <i class="fas fa-chevron-down"></i>
                    </div>
                    <div class="answer">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam ducimus consectetur
                            totam optio nisi molestiae quia quae repellat quod, dolore voluptas autem repudiandae
                            accusamus eligendi corrupti explicabo cupiditate facilis expedita.</p>
                    </div>
                    <div class="question">
                        <div class="heading">
                            <i class="fas fa-rupee-sign"></i>
                            <h5>Avg Fees</h5>
                        </div>
                        <i class="fas fa-chevron-down"></i>
                    </div>
                    <div class="answer">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam ducimus consectetur
                            totam optio nisi molestiae quia quae repellat quod, dolore voluptas autem repudiandae
                            accusamus eligendi corrupti explicabo cupiditate facilis expedita.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="help">
        <div>
            <h2>Need Help?</h2>
            <p>Just let us know, we will happy to assist you</p>
        </div>
        <button id="submit" class="btn-secondary" onclick="document.location='./submitQuery.html'">Submit your enquiry</button>
    </section>

    <%- include('footer.ejs') %>

</body>

</html>