<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Schedule - Tvastra</title>
    <link href="./../assets/css/reset.css" rel="stylesheet" type="text/css">
    <link href="./../assets/css/theme.css" rel="stylesheet" type="text/css">
    <link href="./../assets/css/headAfooter.css" rel="stylesheet" type="text/css">
    <link href="./../assets/css/dashboard.css" rel="stylesheet" type="text/css">
    <script async defer src="./../assets/scripts/first.js"></script>
    <script src="https://kit.fontawesome.com/0c23d4ccc5.js" crossorigin="anonymous"></script>
</head>
<body>
    <%- include('header.ejs') %>

        <section id="dashboard-section">
            <div id="dashboard-container">
                <%- include('dashboardMenu.ejs')%>
                    <div class="content">
                        <div>
                            <form>
                                <div>
                                    <label for="day">Day</label>
                                    <select id="day">
                                        <option name="monday" value="monday">Monday</option>
                                        <option name="tuesday" value="tuesday">Tuesday</option>
                                        <option name="wednesday" value="wednesday">Wednesday</option>
                                        <option name="thurday" value="thurday">Thurday</option>
                                        <option name="friday" value="friday">Friday</option>
                                        <option name="saturday" value="saturday">Saturday</option>
                                        <option name="sunday" value="sunday">Sunnday</option>
                                    </select>
                                </div>
                                <div>
                                    <label for="s-time">Start Time</label>
                                    <input id="s-time" type="text">
                                </div>
                                <div>
                                    <label for="e-time">Start Time</label>
                                    <input id="e-time" type="text">
                                </div>
                                <div>
                                    <label for="interval">Interval</label>
                                    <input id="interval" type="text">
                                </div>
                                <div>
                                    <label for="hospital">Hospital</label>
                                    <input id="hospital" type="text">
                                </div>
                            </form>
                        </div>
                        <div class="appointments-list">
                            <h4>Scheduled Slots</h4>
                            <div class="appointment">
                                <div class="appointment-info">
                                    <div class="date">
                                        <h6 style="margin-bottom: 0;">Thursday</h6>
                                    </div>
                                    <ul class="details">
                                        <li style="font-size: 1rem; margin-bottom: .5rem;">Maruthi Clinic</li>
                                        <li>10:00 - 10:30</li>
                                    </ul>
                                </div>
                                <div class="modify-btn">
                                    <button class="btn-secondary">Delete Slot</button>
                                    <button class="btn-secondary">Edit Slot</button>
                                    <button class="btn-secondary">View Detail</button>
                                </div>
                            </div>
                    </div>
            </div>
        </section>

        <%- include('footer.ejs') %>
    
</body>
</html>