<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Appointments - Tvastra</title>
    <link href="./../assets/css/reset.css" rel="stylesheet" type="text/css">
    <link href="./../assets/css/theme.css" rel="stylesheet" type="text/css">
    <link href="./../assets/css/headAfooter.css" rel="stylesheet" type="text/css">
    <link href="./../assets/css/dashboard.css" rel="stylesheet" type="text/css">
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjgKrsMexm3lSbfFaIgQepfWZaEJRsjjc&callback=initMap"
        type="text/javascript"></script>
    <script async defer src="./../assets/scripts/first.js"></script>
    <script src="https://kit.fontawesome.com/0c23d4ccc5.js" crossorigin="anonymous"></script>
</head>

<body>
    <%- include('header.ejs') %>
    <%- include('toaster.ejs') %>

        <section id="dashboard-section">
            <div id="dashboard-container">
                <%- include('dashboardMenu.ejs')%>
                <% if(!session.isDoctor) { %>
                    <div class="content">
                        <div>
                            <h4>Upcoming Appointments</h4>
                            <div class="appointments-list">
                                <div class="appointment">
                                    <div class="appointment-info">
                                        <div class="date">
                                            <h6>4</h6>
                                            <h6>SEp</h6>
                                        </div>
                                        <ul class="details">
                                            <li class="head">Dr. Maruthi</li>
                                            <li>Wed, 12:00 pm</li>
                                            <li>Maruthi Clinic</li>
                                            <li class="status">Approved</li>
                                        </ul>
                                    </div>
                                    <div class="modify-btn">
                                        <button class="btn-secondary">Cancel Apointment</button>
                                        <button class="btn-secondary">Reschedule Apointment</button>
                                    </div>
                                </div>
                                <div class="appointment">
                                    <div class="appointment-info">
                                        <div class="date">
                                            <h6>4</h6>
                                            <h6>SEp</h6>
                                        </div>
                                        <ul class="details">
                                            <li class="head">Dr. Maruthi Maruthi Maruthi</li>
                                            <li>Wed, 12:00 pm</li>
                                            <li>Maruthi Clinic</li>
                                            <li class="status">Approved</li>
                                        </ul>
                                    </div>
                                    <div class="modify-btn">
                                        <button class="btn-secondary">Cancel Apointment</button>
                                        <button class="btn-secondary">Reschedule Apointment</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <h4>Past Appointments</h4>
                            <div class="appointments-list">
                                <div class="appointment">
    
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
                <% if(session.isDoctor) { %>
                    <div class="content">
                        <div id="stats">
                            <div class="stats-card">
                                <i class="fas fa-calendar-check"></i>
                                <div class="stat-info">
                                    <h6>Applications</h6>
                                    <h6>2</h6>
                                </div>                                
                            </div>
                            <div class="stats-card">
                                <i class="fas fa-user-injured"></i>
                                <div class="stat-info">
                                    <h6>Patients</h6>
                                    <h6>2</h6>
                                </div>                                
                            </div>
                        </div>
                        <div>
                            <h4>Upcoming Appointments</h4>
                            <div class="details-mob">
                                  <h6>Name : </h6>  
                                  <p>Sunil</p>  
                                  <h6>Email : </h6>  
                                  <p>sunil@gmail.com</p> 
                                  <h6>Date : </h6>  
                                  <p>Sun Aug 01 2021</p>  
                                  <h6>Visit Time : </h6>  
                                  <p>8:34 AM</p>   
                                  <h6>Number : </h6>  
                                  <p>9876549870</p> 
                                  <h6>Hospital : </h6>  
                                  <p>Apollo</p>    
                                  <h6>Action : </h6>  
                                  <div class="actions">
                                    <i class="fas fa-edit"></i>
                                    <i class="fas fa-trash-alt"></i>
                                  </div>                  
                            </div>
                            <div class="details-nonmob">
                                <table>
                                    <tr>
                                        <th>Pic</th>
                                        <th>Name</th>  
                                        <th>Email</th>  
                                        <th>Date</th>   
                                        <th>Visit Time</th>
                                        <th>Number</th>  
                                        <th>Hospital</th>  
                                        <th>Action</th>   
                                    </tr>
                                    <tr>
                                        <td><i class="far fa-user"></i></td>
                                        <td>Sathish</td>  
                                        <td>sathishkumar@gmail.com</td> 
                                        <td>Sun Aug 01 2021</td>  
                                        <td>8:34 AM</td>    
                                        <td>9876549870</td> 
                                        <td>Apollo</td> 
                                        <td>   
                                            <div class="actions">
                                              <i class="fas fa-edit"></i>
                                              <i class="fas fa-trash-alt"></i>
                                            </div>      
                                        </td>
                                    </tr>
                                </table>                   
                            </div>
                        </div>
                        <div>
                            <h4>Past Appointments</h4>
                            <div class="details-mob">

                            </div>
                            <div class="details-nonmob">   

                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </section>

    <%- include('footer.ejs') %>

</body>

</html>