<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book An Appointment - Tvastra</title>
    <%- include('linker.ejs') %> 
    <link href="./../assets/css/formDesign.css" rel="stylesheet" type="text/css">
</head>

<body>
    <%- include('header.ejs') %>
    <%- include('toaster.ejs') %> 


        <div id="container">
            <div id="form-container">
                <h4 id="form-head">Book An Appointment</h4>
                <form id="appointment-form">
                    <h6>Select Appointment Date*</h6>
                    <input type="text" name="date" placeholder="dd / mm / yyyy" autofocus>
                    <h6>Time Interval*</h6>
                    <div>
                        <input type="radio" id="morning" name="slot">
                        <label for="morning">Morning</label>
                    </div>
                    <div>
                        <input type="radio" id="afternoon" name="slot">
                        <label for="afternoon">Afternoon</label>
                    </div>
                    <div>
                        <input type="radio" id="evening" name="slot">
                        <label for="evening">Evening</label>
                    </div>
                    <h6>Appointment Status / Urgengy*</h6>
                    <div>
                        <input type="radio" id="routine" name="status">
                        <label for="routine">Routine Check-Up</label>
                    </div>
                    <div>
                        <input type="radio" id="nonurgent" name="status">
                        <label for="nonurgent">Non Urgent Check-Up</label>
                    </div>
                    <div>
                        <input type="radio" id="urgent" name="status">
                        <label for="urgent">Urgent Check-Up</label>
                    </div>
                    <div>
                        <input type="radio" id="surgical" name="status">
                        <label for="surgical">Surgical Appointment</label>
                    </div>
                    <h6>Upload Previous Health Record</h6>
                    <div>
                        <input type="file" id="sel-file">
                    </div>
                    <h6>Appointment Details</h6>
                    <textarea placeholder=""></textarea>

                    <div id="submit">
                        <button class="btn-primary" type="submit">Book Appointment</button>
                        <div>
                            <i class="fas fa-arrow-right"></i>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div id="footer">
            <h6 class="small">
                All Rights Reserved &copy Tvastra 2021
            </h6>
        </div>


</body>

</html>