<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book An Appointment</title>
    <link href="./../assets/css/reset.css" rel="stylesheet" type="text/css">    
    <link href="./../assets/css/theme.css" rel="stylesheet" type="text/css">   
    <link href="./../assets/css/headAfooter.css" rel="stylesheet" type="text/css">     
    <link href="./../assets/css/formDesign.css" rel="stylesheet" type="text/css">  
</head>
<body>
    <header>
        <nav>
            <img src="./../assets/images/Logo.jpg" alt="Tvastra Logo">
            <i class="fas fa-bars"></i>
            <ul id="links">
                <li><a href="./doctor.html">Doctors</a></li>
                <li><a href="./hospital.html">Hospitals</a></li>
                <li><a href="">Treatment</a></li>
                <li><a href="">Other Services</a></li>
                <li><a href="">About</a></li>
            </ul>
            <div id="buttons">
                <button class="btn-light">Login / Sign Up</button>
                <button class="btn-primary">Get a Quote</button>           
            </div>
        </nav>
    </header>

    <div id="container">
        <div id="form-container">
            <h4>Book An Appointment</h4>
            <form>

            </form>
        </div>
    </div>

    <div id="footer">
        <h6>
            All Rights Reserved &copy Tvastra 2021
        </h6>
    </div> 

    
</body>
</html>