<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us - Tvastra</title>
    <link href="./../assets/css/reset.css" rel="stylesheet" type="text/css">    
    <link href="./../assets/css/theme.css" rel="stylesheet" type="text/css">   
    <link href="./../assets/css/headAfooter.css" rel="stylesheet" type="text/css">     
    <link href="./../assets/css/styles.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/0c23d4ccc5.js" crossorigin="anonymous"></script>
    <script src="./../assets/scripts/googleMapApi.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjgKrsMexm3lSbfFaIgQepfWZaEJRsjjc&callback=initMap" type="text/javascript"></script>
</head>
<body>
    <header>
        <nav>
            <img src="./../assets/images/Logo.jpg" alt="Tvastra Logo">
            <i class="fas fa-bars"></i>
            <ul id="links">
                <li><a href="./doctor.html">Doctors</a></li>
                <li><a href="./hospital.html">Hospitals</a></li>
                <li><a href="./aboutTreatment.html">Treatment</a></li>
                <li><a href="">Other Services</a></li>
                <li><a href="./aboutUs.html">About</a></li>
            </ul>
            <div id="buttons">
                <button class="btn-light" onclick="document.location='./login.html'">Login / Sign Up</button>
                <button class="btn-primary" onclick="document.location='./submitQuery.html'">Get a Quote</button>           
            </div>
        </nav>
    </header>

    <div class="banner">
        <h2>Contact Us</h2>
        <p>Home / Contact Us</p>
    </div>
    
    <section id="map-container">
    <div id="map"></div>
    </section>


    <section id="contact">
        <div id="contact-info">
            <div class=row>
                <i class="fas fa-home"></i>
                <div>
                    <h6>Noida, India</h6>
                    <p>Sector 45</p>
                </div>
            </div>
            <div class=row>
                <i class="fas fa-phone-alt"></i>
                <div>
                    <h6>00 (440) 9865 562</h6>
                    <p>Mon to Fri 9am to 6pm</p>
                </div>
            </div>
            <div class=row>
                <i class="fas fa-at"></i>
                <div>
                    <h6>support@tvastra.com</h6>
                    <p>Send us your query anytime!</p>
                </div>
            </div>
        </div>    
        <div id="send-message">
            <form>
                <input type="text" placeholder="Enter your name">
                <input type="text" placeholder="Enter email address">
                <input type="text" placeholder="Enter subject">
                <input type="text" id="message-box" placeholder="Enter Message">
                <input type="submit" class="btn-secondary" value="Send Message">
            </form>
        </div>
    </section>
    
    <footer>
        <img src="./../assets/images/footerlogo.png" alt="logo">
        <ul id="links">
            <li><a href="./doctor.html">Doctors</a></li>
            <li><a href="./hospital.html">Hospitals</a></li>
            <li><a href="./aboutTreatment.html">Treatment</a></li>
            <li><a href="">Other Services</a></li>
            <li><a href="./faq.html">FAQs</a></li>
        </ul>
        <ul id="social">
            <li><i class="fab fa-facebook-f"></i></li>
            <li><i class="fab fa-pinterest-p"></i></li>
            <li><i class="fab fa-twitter"></i></li>
            <li><i class="fab fa-google-plus-g"></i></li>
            <li><i class="fab fa-instagram"></i></li>
        </ul>
        <p>All Rights Reserved. &copy tvastra 2018</p>
    </footer>
</body>
</html>