<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tvastra Doctor</title>
    <link href="./../assets/css/reset.css" rel="stylesheet" type="text/css">    
    <link href="./../assets/css/theme.css" rel="stylesheet" type="text/css">  
    <link href="./../assets/css/headAfooter.css" rel="stylesheet" type="text/css">     
    <link href="./../assets/css/list.css" rel="stylesheet" type="text/css">   
    <script src="https://kit.fontawesome.com/0c23d4ccc5.js" crossorigin="anonymous"></script>

</head>
<body>
    <header>
        <nav>
            <img src="./../assets/images/Logo.jpg" alt="Tvastra Logo">
            <i class="fas fa-bars"></i>
            <ul id="links">
                <li><a href="./doctor.html">Doctors</a></li>
                <li><a href="./hospital.html">Hospitals</a></li>
                <li><a href="">Treatment</a></li>
                <li><a href="">Other Services</a></li>
                <li><a href="">About</a></li>
            </ul>
            <div id="buttons">
                <button class="btn-light">Login/Sign Up</button>
                <button class="btn-primary">Get a Quote</button>           
            </div>
        </nav>
    </header>

    <section id="banner">
        <h4>Cardiac Surgeon in <span>Delhi</span></h4>
    </section>

    <section id="path">
        <h5>Home / Doctor List</h5>
        <button>Sort By</button>
    </section>

    <section id="container">
        <div id="filter" style="background-color: var(--dullWhite);">
        </div>
        <div id="list-cards">
            <div>
                <h5>Doctor Name</h5>
                <ul>
                    <li> <i class="fas fa-certificate"></i>Certificates</li>
                    <li> <i class="fas fa-award"></i> Awards</li>
                    <li> <i class="far fa-clock"></i> Experience</li>
                    <li><i class="fas fa-building"></i> Work</li>
                    <li><i class="fa fa-map-marker"></i> Location</li>                
                </ul>
                <button class="btn-primary">Book An Appointment</button>
                <img src="./../assets/images/doctors/duke.jpg" alt="Doctor Image">
            </div>
            <div>
                <h5>Doctor Name</h5>
                <ul>
                    <li> <i class="fas fa-certificate"></i>Certificates</li>
                    <li> <i class="fas fa-award"></i> Awards</li>
                    <li> <i class="far fa-clock"></i> Experience</li>
                    <li><i class="fas fa-building"></i> Work</li>
                    <li><i class="fa fa-map-marker"></i> Location</li>                
                </ul>
                <button class="btn-primary">Book An Appointment</button>
                <img src="./../assets/images/doctors/duke.jpg" alt="Doctor Image">
            </div>
        </div>
    </section>

    <section id="help">
        <div>
            <h2>Need Help?</h2>
            <p>Just let us know, we will happy to assist you</p>  
        </div>
        <button id="submit" class="btn-secondary">Submit your enquiry</button>
    </section>



    <footer>
        <img src="./../assets/images/footerlogo.png" alt="logo">
        <ul id="links">
            <li><a href="">Doctors</a></li>
            <li><a href="">Hospitals</a></li>
            <li><a href="">Treatment</a></li>
            <li><a href="">Other Services</a></li>
            <li><a href="">FAQs</a></li>
        </ul>
        <ul id="social">
            <li><i class="fab fa-facebook-f"></i></li>
            <li><i class="fab fa-pinterest-p"></i></li>
            <li><i class="fab fa-twitter"></i></li>
            <li><i class="fab fa-google-plus-g"></i></li>
            <li><i class="fab fa-instagram"></i></li>
        </ul>
        <p>All Rights Reserved. &copy tvastra 2018</p>
    </footer>
    
</body>
</html>