<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQs - Tvastra</title>
    <link href="./../assets/css/reset.css" rel="stylesheet" type="text/css">    
    <link href="./../assets/css/theme.css" rel="stylesheet" type="text/css">   
    <link href="./../assets/css/headAfooter.css" rel="stylesheet" type="text/css">     
    <link href="./../assets/css/styles.css" rel="stylesheet" type="text/css">
    <link href="./../assets/css/faq.css" rel="stylesheet" type="text/css">

    <script src="https://kit.fontawesome.com/0c23d4ccc5.js" crossorigin="anonymous"></script>
    <script defer sync src="./../assets/scripts/first.js"></script>

</head>
<body>
    <%- include('header.ejs') %>

    <div class="banner">
        <h2>FAQ</h2>
        <p>Home / FAQ</p>
    </div>

    <section id="faq" class="faq">
        <div class="question">
            <h6>How do I make payments?</h6>
            <i class="fas fa-chevron-down"></i>
        </div>
        <div class="answer">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam ducimus consectetur totam optio nisi molestiae quia quae repellat quod, dolore voluptas autem repudiandae accusamus eligendi corrupti explicabo cupiditate facilis expedita.</p>
        </div>
        <div class="question">
            <h6>There is not enough money in my Portea Wallet for making a payment. What do I do?</h6>
            <i class="fas fa-chevron-down"></i>
        </div>
        <div class="answer">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam ducimus consectetur totam optio nisi molestiae quia quae repellat quod, dolore voluptas autem repudiandae accusamus eligendi corrupti explicabo cupiditate facilis expedita.</p>
        </div>
        <div class="question">
            <h6>Can I transfer balance in Portea Wallet balance to another user?</h6>
            <i class="fas fa-chevron-down"></i>
        </div>
        <div class="answer">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam ducimus consectetur totam optio nisi molestiae quia quae repellat quod, dolore voluptas autem repudiandae accusamus eligendi corrupti explicabo cupiditate facilis expedita.</p>
        </div>
        <div class="question">
            <h6>Is Portea Money the same as Portea Wallet?</h6>
            <i class="fas fa-chevron-down"></i>
        </div>
        <div class="answer">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam ducimus consectetur totam optio nisi molestiae quia quae repellat quod, dolore voluptas autem repudiandae accusamus eligendi corrupti explicabo cupiditate facilis expedita.</p>
        </div>
        <div class="question">
            <h6>Refund</h6>
            <i class="fas fa-chevron-down"></i>
        </div>
        <div class="answer">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam ducimus consectetur totam optio nisi molestiae quia quae repellat quod, dolore voluptas autem repudiandae accusamus eligendi corrupti explicabo cupiditate facilis expedita.</p>
        </div>
        <div class="question">
            <h6>What is a Family ID?</h6>
            <i class="fas fa-chevron-down"></i>
        </div>
        <div class="answer">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam ducimus consectetur totam optio nisi molestiae quia quae repellat quod, dolore voluptas autem repudiandae accusamus eligendi corrupti explicabo cupiditate facilis expedita.</p>
        </div>
        <div class="question">
            <h6>Who can be added as Family?</h6>
            <i class="fas fa-chevron-down"></i>
        </div>
        <div class="answer">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam ducimus consectetur totam optio nisi molestiae quia quae repellat quod, dolore voluptas autem repudiandae accusamus eligendi corrupti explicabo cupiditate facilis expedita.</p>
        </div>
    </section>



    <section id="help">
        <div>
            <h2>Need Help?</h2>
            <p>Just let us know, we will happy to assist you</p>  
        </div>
        <button id="submit" class="btn-secondary" onclick="document.location='./submitQuery.html'">Submit your enquiry</button>
    </section>

    <%- include('footer.ejs') %>
    
</body>
</html>