<footer>
    <img src="./../assets/images/footerlogo.png" alt="logo">
    <ul id="links">
        <li><a href="./doctor.html">Doctors</a></li>
        <li><a href="./hospital.html">Hospitals</a></li>
        <li><a href="aboutTreatment.html">Treatment</a></li>
        <li><a href="">Other Services</a></li>
        <li><a href="faq.html">FAQs</a></li>
    </ul>
    <ul id="social">
        <li><i class="fab fa-facebook-f"></i></li>
        <li><i class="fab fa-pinterest-p"></i></li>
        <li><i class="fab fa-twitter"></i></li>
        <li><i class="fab fa-google-plus-g"></i></li>
        <li><i class="fab fa-instagram"></i></li>
    </ul>
    <p>All Rights Reserved. &copy tvastra 2018</p>
</footer>