<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tvastra Hospital</title>
    <link href="./../assets/css/reset.css" rel="stylesheet" type="text/css">    
    <link href="./../assets/css/theme.css" rel="stylesheet" type="text/css">    
    <link href="./../assets/css/headAfooter.css" rel="stylesheet" type="text/css">     
    <link href="./../assets/css/list.css" rel="stylesheet" type="text/css">   
    <script src="https://kit.fontawesome.com/0c23d4ccc5.js" crossorigin="anonymous"></script>

</head>
<body>
    <header>
        <nav>
            <img src="./../assets/images/Logo.jpg" alt="Tvastra Logo">
            <i class="fas fa-bars"></i>
            <ul id="links">
                <li><a href="">Doctors</a></li>
                <li><a href="">Hospitals</a></li>
                <li><a href="">Treatment</a></li>
                <li><a href="">Other Services</a></li>
                <li><a href="">About</a></li>
            </ul>
            <div id="buttons">
                <button class="btn-light">Login/Sign Up</button>
                <button class="btn-primary">Get a Quote</button>           
            </div>
        </nav>
    </header>

    <section id="path">
        <h3>Home / Hospital List</h3>
        <button>Sort By</button>
    </section>

    <section id="container">
        <div>
            <h5>Fortis Hospital</h5>
            <ul>
                <li><i class="fa fa-map-marker"></i>Cunningham Road</li>
                <li><i class="fas fa-bed"></i>100 beds</li>
                <li><i class="fas fa-stethoscope"></i>Famous Treatment</li>
            </ul>
            <button class="btn-primary callnow">Call Now</button>
            <img src="./../assets/images/hospitals/fortis.jpg">
        </div>
        <div>
            <h5>Fortis Hospital</h5>
            <ul>
                <li><i class="fa fa-map-marker"></i>Cunningham Road</li>
                <li><i class="fas fa-bed"></i>100 beds</li>
                <li><i class="fas fa-stethoscope"></i>Famous Treatment</li>
            </ul>
            <button class="btn-primary callnow">Call Now</button>
            <img src="./../assets/images/hospitals/fortis.jpg">
        </div>
    </section>

    <section id="help">
        <div>
            <h2>Need Help?</h2>
            <p>Just let us know, we will happy to assist you</p>  
        </div>
        <button id="submit" class="button-type2">Submit your enquiry</button>
    </section>
    
    <footer>
        <img src="./../assets/images/footerlogo.png" alt="logo">
        <ul id="links">
            <li><a href="">Doctors</a></li>
            <li><a href="">Hospitals</a></li>
            <li><a href="">Treatment</a></li>
            <li><a href="">Other Services</a></li>
            <li><a href="">FAQs</a></li>
        </ul>
        <ul id="social">
            <li><i class="fab fa-facebook-f"></i></li>
            <li><i class="fab fa-pinterest-p"></i></li>
            <li><i class="fab fa-twitter"></i></li>
            <li><i class="fab fa-google-plus-g"></i></li>
            <li><i class="fab fa-instagram"></i></li>
        </ul>
        <p>All Rights Reserved. &copy tvastra 2018</p>
    </footer>
    
</body>
</html>