<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tvastra</title>
    <link href="./../assets/css/reset.css" rel="stylesheet" type="text/css">    
    <link href="./../assets/css/theme.css" rel="stylesheet" type="text/css">   
    <link href="./../assets/css/headAfooter.css" rel="stylesheet" type="text/css">     
    <link href="./../assets/css/index.css" rel="stylesheet" type="text/css">
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjgKrsMexm3lSbfFaIgQepfWZaEJRsjjc&callback=initMap" type="text/javascript"></script>
    <script src="https://kit.fontawesome.com/0c23d4ccc5.js" crossorigin="anonymous"></script>
</head>
<body>

    <header>
        <nav>
            <img src="./../assets/images/Logo.jpg" alt="Tvastra Logo">
            <i class="fas fa-bars"></i>
            <ul id="links">
                <li><a href="./doctor.html">Doctors</a></li>
                <li><a href="./hospital.html">Hospitals</a></li>
                <li><a href="./aboutTreatment.html">Treatment</a></li>
                <li><a href="">Other Services</a></li>
                <li><a href="./aboutUs.html">About</a></li>
            </ul>
            <div id="buttons">
                <button onclick="document.location='./login.html'" class="btn-light">Login / Sign Up</button>
                <button class="btn-primary" onclick="document.location='./submitQuery.html'">Get a Quote</button>           
            </div>
        </nav>
    </header>

    <section id="intro">
        <div>
            <h1>Find Affordable Healthcare</h1>
            <p>Join the thousands of others who have exercised their right to quality healthcare at a price you can afford</p>
            <div id="search">
                <form id="search-form" action="#intro" method="POST">
                    <div id="forposition">
                        <div id="location">
                            <i class="fas fa-map-marker-alt"></i>
                            <input type="text" placeholder="Ahmedabad" name="location">
                        </div>
                        <div id="right-icon">
                            <img src="./../assets/images/gps.png" alt="gps">
                        </div>
                    </div>
                    <input class="textbox" type="text" name="searchKey" placeholder="Search for Doctor, hospitals and treatments">
                    <input class="btn-primary" type="submit" value="Search">       
              </form>
            </div>
        </div>
    </section>

    <section id="steps">
        <h2>How it works</h2>
        <p>Various facilities are provided here. But there is a protocol which needs to be followed so that you get the service at its best</p>
        <div id="step-details">
            <div class="active">
                <button><span>01</span><span class="span">Fix Consultation</span></button> 
                <figure>
                    <img src="./../assets//images/process/fixconsult.png" alt="Fix Consultation">
                    <figcaption>
                        <h4>Fix Consultation</h4>
                        <p>This depicts that user will have to fix appointment first when it selects a particular doctor.</p>
                    </figcaption>
                </figure>            
            </div>
            <div class="inactive">
                <button><span>02</span><span class="span">Upload Medical Reports</span></button>
                <figure>
                    <img src="" alt="Upload Medical Reports">
                    <figcaption>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, recusandae accusantium quam rerum eos labore.</figcaption>
                </figure>
            </div>
            <div class="inactive">
                <button><span>03</span><span class="span">Consult with doctor</span></button>
                <figure>
                    <img src="" alt="Consult with doctor">
                    <figcaption>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, recusandae accusantium quam rerum eos labore.</figcaption>
                </figure>
            </div>
            <div class="inactive">
                <button><span>04</span><span class="span">Fix Surgery</span></button>
                <figure>
                    <img src="" alt="Fix Surgery">
                    <figcaption>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, recusandae accusantium quam rerum eos labore.</figcaption>
                </figure>
            </div>
            <div class="inactive">
                <button><span>05</span><span class="span">Hospital sent estimates</span></button>
                <figure>
                    <img src="" alt="Hospital sent estimates">
                    <figcaption>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, recusandae accusantium quam rerum eos labore.</figcaption>
                </figure>
            </div>
            <div class="inactive">
                <button><span>06</span><span class="span">Payment</span></button>
                <figure>
                    <img src="" alt="">
                    <figcaption>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, recusandae accusantium quam rerum eos labore.</figcaption>
                </figure>
            </div>
            <div class="inactive">
                <button><span>07</span><span class="span">Surgery Completed</span></button>
                <figure>
                    <img src="" alt="">
                    <figcaption>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, recusandae accusantium quam rerum eos labore.</figcaption>
                </figure>
            </div>
        </div> 
    </section>

    <section id="doctors">
        <h2>World Class Expert Doctors!</h2>
        <p>The university of Texas Southeastern Medical center has been a long world-renowed research hospital. But untill the 80's, you couldn't go there. Now, with the addition of Astron Center and Zale Lipshy Hospital, UT Southeastern is also a mecca for patients.</p>
        <div id="doctor-card">
            <figure>
                <img src="./../assets/images/doctors/duke.jpg" alt="Duke Sanson">
                <figcaption>
                    <h6>Duke Sanson</h6>
                    <ul>
                        <li>Neuro Surgeon</li>
                        <li>Chain Department of Neurological Surgery</li>
                        <li>Australia</li>
                    </ul>
                </figcaption>
            </figure>
            <figure>
                <img src="./../assets/images/doctors/georgia.jpg" alt="Georgeo Peter">
                <figcaption>
                    <h6>Georgeo Peter</h6>
                    <ul>
                        <li>Breast Cancer Surgeon</li>
                        <li>Director, UT, Southwest</li>
                        <li>London</li>
                    </ul>
                </figcaption>
            </figure>
            <figure>
                <img src="./../assets/images/doctors/charlie.jpg" alt="Charlie Moon">
                <figcaption>
                    <h6>Charlie Moon</h6>
                    <ul>
                        <li>Cardiac Surgeon</li>
                        <li>MBBS, MD, FRCP, MRCP, Fellowship</li>
                        <li>New Delhi, India</li>
                    </ul>
                </figcaption>
            </figure>
            <figure>
                <img src="./../assets/images/doctors/rose.jpg" alt="Rose Moon">
                <figcaption>
                    <h6>Rose Moon</h6>
                    <ul>
                        <li>Plastic Surgeon</li>
                        <li>Department of Plastic and Reconstructive Surgery</li>
                        <li>Dubai</li>
                    </ul>
                </figcaption>
            </figure>
        </div>
    </section>


    <section id="treatment">
        <h2>Featured Medical Treatment</h2>
        <p>Join the thousands of others who have exercised thier rights to qualify healthcare at a price you can afford</p>
        <div id="treatment-card">
            <div id="dentist" class="img-style">
                <figcaption>
                    <ul>
                        <li>Dentistry</li>
                        <li>50+ Specialists</li>
                    </ul>
                </figcaption>
            </div>
            <div id="cancer" class="img-style">
                <figcaption>
                    <ul>
                        <li>Cancer</li>
                        <li>50+ Specialists</li>
                    </ul>
                </figcaption>
            </div>
            <div id="cardiologic" class="img-style">
                <figcaption>
                    <ul>
                        <li>Cardiologic Treatment</li>
                        <li>50+ Specialists</li>
                    </ul>
                </figcaption>
            </div>
            <div id="Multi-Organ" class="img-style">
                <figcaption>
                    <ul>
                        <li>Multi Organ Transplant</li>
                        <li>50+ Specialists</li>
                    </ul>
                </figcaption>
            </div>
            <div id="Orthopedics" class="img-style">
                <figcaption>
                    <ul>
                        <li>Orthopedics Surgery</li>
                        <li>50+ Specialists</li>
                    </ul>
                </figcaption>
            </div>
            <div id="Infertility" class="img-style">
                <figcaption>
                    <ul>
                        <li>Infertility Treatment</li>
                        <li>50+ Specialists</li>
                    </ul>
                </figcaption>
            </div>
        </div>
    </section>

    <section id="services">
        <h2>Exclusive services</h2>
        <p>We want you to comfortable and thus apart from threating you illness, we provide you with other services that you can see</p>
        <div id="service-card">
            <figure>
                <img src="./../assets/images/services/travel.png" alt="travel">
                <figcaption>TRAVEL</figcaption>
            </figure>
            <figure>
                <img src="./../assets/images/services/food.png" alt="food">
                <figcaption>FOOD</figcaption>
            </figure>
            <figure>
                <img src="./../assets/images/services/accomodation.png" alt="accomodation">
                <figcaption>ACCOMODATION</figcaption>
            </figure>
            <figure>
                <img src="./../assets/images/services/lab.png" alt="labs">
                <figcaption>LABS</figcaption>
            </figure>
            <figure>
                <img src="./../assets/images/services/reports.png" alt="reports">
                <figcaption>REPORTS</figcaption>
            </figure>
            <figure>
                <img src="./../assets/images/services/ambulance.png" alt="ambulance">
                <figcaption>AMBULANCE</figcaption>
            </figure>
        </div>
    </section>

    <section id="help">
        <div>
            <h2>Need Help?</h2>
            <p>Just let us know, we will happy to assist you</p>  
        </div>
        <button id="submit" class="btn-secondary" onclick="document.location='./submitQuery.html'">Submit your enquiry</button>
    </section>

    <footer>
        <img src="./../assets/images/footerlogo.png" alt="logo">
        <ul id="links">
            <li><a href="./doctor.html">Doctors</a></li>
            <li><a href="./hospital.html">Hospitals</a></li>
            <li><a href="aboutTreatment.html">Treatment</a></li>
            <li><a href="">Other Services</a></li>
            <li><a href="faq.html">FAQs</a></li>
        </ul>
        <ul id="social">
            <li><i class="fab fa-facebook-f"></i></li>
            <li><i class="fab fa-pinterest-p"></i></li>
            <li><i class="fab fa-twitter"></i></li>
            <li><i class="fab fa-google-plus-g"></i></li>
            <li><i class="fab fa-instagram"></i></li>
        </ul>
        <p>All Rights Reserved. &copy tvastra 2018</p>
    </footer>
</body>
</html>