<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Tvastra</title>
    <%- include('linker.ejs') %>  
    <link href="./../assets/css/formDesign.css" rel="stylesheet" type="text/css">  
</head>
<body>
    <% if(flash.fail) { %>
        <div id="fail" class="flashContainer">
            <i class="fas fa-times-circle"></i>
            <ul id="msg">
                <li><%= flash.fail %></li>
                <li><%= flash.msg %></li>
            </ul>
            <i class="fas fa-times"></i>
        </div>
    <% } %>    

    <%- include('header.ejs') %>

    <div id="container">
        <div id="form-container">
            <h4 id="form-head">Email Login</h4>
            <form method="post" action="/login"> 
                <input type="text" name="email" placeholder="Enter Email" required autofocus>
                <input type="password" name="password" placeholder="Enter Password" required>
                <div id="options" class="inline-flex">
                    <p class="small"><a href="/mobilelogin">Login With OTP</a></p>
                    <p class="small"><a href="/">Forgot Password</a></p>
                </div>
                <div id="submit">
                    <button class="btn-primary" type="submit">Login</button>
                    <div>
                        <i class="fas fa-arrow-right"></i>
                    </div>
                </div>
            </form>
            <p class="small registered-flag">Not Registered?  <span><a href="/signup">Sign Up</a></span></p>
        </div>    
    </div>

    <div id="footer">
        <h6 class="small">
            All Rights Reserved &copy Tvastra 2021
        </h6>
    </div>    
</body>
</html>