<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile - Tvastra</title>
    <link href="./../assets/css/reset.css" rel="stylesheet" type="text/css">    
    <link href="./../assets/css/theme.css" rel="stylesheet" type="text/css">   
    <link href="./../assets/css/headAfooter.css" rel="stylesheet" type="text/css">     
    <link href="./../assets/css/dashboard.css" rel="stylesheet" type="text/css">
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjgKrsMexm3lSbfFaIgQepfWZaEJRsjjc&callback=initMap" type="text/javascript"></script>
    <script async defer src="./../assets/scripts/first.js"></script>
    <script src="https://kit.fontawesome.com/0c23d4ccc5.js" crossorigin="anonymous"></script>
</head>
<body>
    <%- include('header.ejs') %>

    <section id="dashboard-container">
        <%- include('dashboardMenu.ejs')%>
        <div>

        </div>
    </section>
    
    <%- include('footer.ejs') %>    

</body>
</html>