<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - Tvastra</title>
    <link href="./../assets/css/reset.css" rel="stylesheet" type="text/css">    
    <link href="./../assets/css/theme.css" rel="stylesheet" type="text/css">    
    <link href="./../assets/css/headAfooter.css" rel="stylesheet" type="text/css">
    <link href="./../assets/css/formDesign.css" rel="stylesheet" type="text/css">  
    <script src="https://kit.fontawesome.com/0c23d4ccc5.js" crossorigin="anonymous"></script>
</head>
<body>

    <%- include('header.ejs') %>

    <div id="container">
        <div id="form-container">
            <h4 id="form-head">Sign Up</h4>
            <form method="POST" action="/signup">
                <input type="text" name="name" placeholder="Enter Name" required autofocus>
                <input type="text" name="email" placeholder="Enter Email" required>
                <input type="password" name="password" placeholder="Enter Password" required>
                <select name="gender" required>
                    <option value="" disabled selected hidden>Select Your Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Others">Others</option>
                </select>
                <input type="text" name="dob" placeholder="dd / mm / yyyy" required>
                <input type="text" name="mobile" placeholder="Enter Phone Number" required>
                <div class="inline">
                    <input type="text" name="city" placeholder="Enter City" required>
                    <input type="text" name="state" placeholder="Enter State" required>
                </div>
                <select name="country" required>
                    <option value="" disabled selected hidden>Select Your Country</option>
                    <option value="India">India</option>
                    <option value="Australia">Australia</option>
                    <option value="Newzeland">Newzeland</option>
                </select>
                <select name="isDoctor" required>
                    <option value="" disabled selected hidden>Are You Doctor ?</option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
                <div id="submit">
                    <button class="btn-primary" type="submit">Sign up</button>
                    <div>
                        <i class="fas fa-arrow-right"></i>
                    </div>
                </div>
            </form>
            <p class="small registered-flag">Already Registered?  <span><a href="/login">Login</a></span></p>
        </div>    
    </div>
    
    <div id="footer">
        <h6 class="small">
            All Rights Reserved &copy Tvastra 2021
        </h6>
    </div> 
        
</body>
</html>