<div class="toaster toaster-active">
    <div id="name" onclick="document.location='/profile'">
        <i class="far fa-user"></i>
        <h4>Vikas M</h4>
    </div>
    <ul>
        <li><a href="/dashboard_appointments">
                <h6>My Appointments<h6>
            </a>
        </li>
        <% if(session.isDoctor) { %>
            <li>
                <a href="/add-schedule">
                    <h6>Add Schedule<h6>
                </a>
            </li>
        <% } %>
        <li><a href="">
                <h6>Medical Records<h6>
            </a>
        </li>
        <li><a href="/settings">
                <h6>Settings<h6>
            </a>
        </li>
        <li><a href="">
                <h6>My Payments<h6>
            </a>
        </li>
        <li><a href="">
                <h6>Logout<h6>
            </a>
        </li>
    </ul>
</div>