<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tvastra Plus</title>
    <%- include('partials/linker.ejs') %>  
    <link href="./../assets/css/faq.css" rel="stylesheet" type="text/css">     
    <link href="./../assets/css/aboutAPlus.css" rel="stylesheet" type="text/css">     
</head>
<body>
    <%- include('partials/header.ejs') %>
    <%- include('partials/toaster.ejs') %> 


    <section id="plus-intro">
        <button class="btn-secondary">PLUS</button>
        <h2>Healthcare plans for you and your family.</h2>
        <p>Become a Tvastra Plus Member and save 60% off on your yearly health expenses</p>
    </section>

    <section id="plans-section">
        <div class="flex-column">
            <h3>Select a Tvastra Plus healthcare plan</h3>
            <p>All Plus plans are for 4 adults and 2 children</p>
            <div id="plans">
                <div>
                    <h4>Basic Plan</h4>
                    <ul>
                        <li>Unlimited Consultation with any speciality</li>
                        <li>20% Off on prescription medicines</li>
                        <li>20% Off on tests & checkups</li>
                    </ul>
                    <h3>2,999<span>/year</span></h3>
                    <p>View Plan Details</p>
                    <button class="btn-secondary">Buy Plan</button>
                </div>
                <div id="second">
                    <i>Popular</i>
                    <h4>Advanced Plan</h4>
                    <ul>
                        <li>Unlimited Consultation with any speciality</li>
                        <li>20% Off on prescription medicines</li>
                        <li>20% Off on tests & checkups</li>
                        <li>10 Free In-Clinic consultations</li>
                    </ul>
                    <h3>3,999<span>/year</span></h3>
                    <p>View Plan Details</p>
                    <button class="btn-secondary">Buy Plan</button>
                </div>
                <div>
                    <h4>Comprehensive Plan</h4>
                    <ul>
                        <li>Unlimited Consultation with any speciality</li>
                        <li>20% Off on prescription medicines</li>
                        <li>20% Off on tests & checkups</li>
                        <li>10 Free In-Clinic consultations</li>
                        <li>2 Master health checkups</li>
                    </ul>
                    <h3>5,999<span>/year</span></h3>
                    <p>View Plan Details</p>
                    <button class="btn-secondary">Buy Plan</button>
                </div>
    
            </div>
        </div>
    </section>

    <section id="rating">
        <h3>Trusted by 2 Crore+ users every month</h3>
        <p>Tvastra is the leading healthcare technology company in India. We began in 2009 and today we help 2 crore customers every month.</p>
        
        <div id="ratings-container">
            <div id="stars">
                <h1>4.5</h1>
                <div>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>                                
                </div>
                <p>1000+ Reviews</p>
            </div>            
            <div id="progress">
                <div>
                    <p>5</p>
                    <div class="outer"><div class="inner"></div></div>
                </div>
                <div>
                    <p>4</p>
                    <div class="outer"><div class="inner"></div></div>
                </div>
                <div>
                    <p>3</p>
                    <div class="outer"><div class="inner"></div></div>
                </div>
                <div>
                    <p>2</p>
                    <div class="outer"><div class="inner"></div></div>
                </div>
                <div>
                    <p>1</p>
                    <div class="outer"><div class="inner"></div></div>
                </div>
            </div>
        </div>
        <div id="achievement">
            <div>
                <i class="fas fa-users"></i>
                <h5>2 Crore+</h5>
                <p>Monthly Customers</p>
            </div>
            <div>
                <i class="fas fa-user-md"></i>
                <h5>100,000+</h5>
                <p>Verified Doctors</p>
            </div>
            <div>
                <i class="fas fa-pills"></i>
                <h5>10 Lakh+</h5>
                <p>Medicine Orders Delivered</p>
            </div>
            <div>
                <i class="fas fa-calendar-check"></i>
                <h5>5 Crore+</h5>
                <p>Doctor Appointments</p>
            </div>

            
        </div>

    </section>

    <section id="benefits">
        <p>Benefits of Plus Membership</p>
        <div id="border"></div>
        <div id="benefits-cards">
            <div>
                <h3>Zero fees for in-clinic consultation</h3>
                <div class="benefits-details">
                    <i class="fas fa-check-circle"></i>
                    <p>Consult with 30000+ specialist doctors at top clinics & hospitals in the PLUS network at Rs.0 consultation fees*</p>
                    <i class="fas fa-check-circle"></i>
                    <p>Upto 10 in-clinic consultations can be used by any family member over 12 month period.</p>
                </div>
            </div>
            <div id="hospital-card">
                <h4>Top Hospitals Onboarded</h4>
                <div id="hospital-logo">
                    <div><img src="./../assets/images/hospitalLogo/sakra.svg" alt="Sakra Hospital"></div>
                    <div><img src="./../assets/images/hospitalLogo/psri.svg" alt="Psri Hospital"></div>
                    <div><img src="./../assets/images/hospitalLogo/artimis.svg" alt="Artimes Hospital"></div>
                    <div><img src="./../assets/images/hospitalLogo/peopleTree.svg" alt="People Tree Hospital"></div>
                    <div><img src="./../assets/images/hospitalLogo/ckBirla.svg" alt="CK Birla Hospital"></div>
                    <div><img src="./../assets/images/hospitalLogo/pratiksha.svg" alt="Pratiksha Hospital"></div>
                </div>
                <p id="more-hospital">+ More Hospital</p>
            </div>
            <div>
                <h3>Unlimited online consultations with top doctors</h3>
                <div class="benefits-details">
                    <i class="fas fa-check-circle"></i>
                    <p>Get all your health queries answered from any specialist online, any time of the day</p>
                    <i class="fas fa-check-circle"></i>
                    <p>Connect under 2 minutes on text, call or video - available 24 hrs. 7 days of the week</p>
                    <i class="fas fa-check-circle"></i>
                    <p>All online consultations are confidential. Only patient and doctor can the access the chats</p>
                </div>                  
            </div>
            <img src="./../assets/images/hospitalLogo/doctor.png" alt="virtual Doctor">
            <div>
                <h3>Flat 20% Off on prescription medicine, lab tests & checkups            </h3>
                <div class="benefits-details">
                    <i class="fas fa-check-circle"></i>
                    <p>Save money on medicines and lab tests for your entire family</p>
                    <i class="fas fa-check-circle"></i>
                    <p>Get flat 20% off on medicines that require prescriptions & flat 20% off on health checkups and lab tests</p>
                    <i class="fas fa-check-circle"></i>
                    <p>No questions asked. No minimum order values, no limits, available in 100+ cities across India</p>
                </div>
            </div>
            <img src="./../assets/images/hospitalLogo/order.jpg" alt="Medicine Delivery">
            <div>
                <h3>2 Free health checkups</h3>
                <div class="benefits-details">
                    <i class="fas fa-check-circle"></i>
                    <p>Discuss your test results with doctors through online consultations. Receive E-Report within 48 hrs.</p>
                    <i class="fas fa-check-circle"></i>
                    <p>Home sample pickup</p>
                    <i class="fas fa-check-circle"></i>
                    <p>Tabs are NABL, CAP Accredited</p>
                    <i class="fas fa-check-circle"></i>
                    <p>Checkups can be booked anytime, even weekends. Tax deductible under 80D.</p>
                </div>
            </div>
            <img src="./../assets/images/hospitalLogo/checkup.jpg" alt="Health Checkup">
        </div>
    </section>

    <section id="tests">
        <p>60 Tests Included</p>
        <div class="test-cards">
            <div class="flex-column">
                <img src="./../assets/images/tests/Vitamin_test.svg" alt="Vitamin Profile">
                <h6>Vitamin Profile</h6>
                <p>2 tests</p>
            </div>
            <div class="flex-column">
                <img src="./../assets/images/tests/Iron_def.svg" alt="Iron deficiency Profile">
                <h6>            
                    Iron Deficiency
                </h6>
                <p>3 tests</p>
            </div>
            <div class="flex-column">
                <img src="./../assets/images/tests/Thyroid.svg" alt="Thyroid Profile">
                <h6>Thyroid Profile</h6>
                <p>3 tests</p>
            </div>
            <div class="flex-column">
                <img src="./../assets/images/tests/Liver.svg" alt="Liver Profile">
                <h6>Liver Profile</h6>
                <p>11 tests</p>
            </div>
        </div>        
        <div class="test-cards">
            <div class="flex-column">
                <img src="./../assets/images/tests/Blood_elemetns.svg" alt="Blood Elemetns Profile Profile">
                <h6>Blood Elemetns Profile</h6>
                <p>4 tests</p>
            </div>
            <div class="flex-column">
                <img src="./../assets/images/tests/Lipid.svg" alt="Lipid Profile">
                <h6>            
                    Lipid Profile
                </h6>
                <p>3 tests</p>
            </div>
            <div class="flex-column">
                <img src="./../assets/images/tests/blood-test.svg" alt="Blood Profile">
                <h6>Blood Tests</h6>
                <p>3 tests</p>
            </div>
            <div class="flex-column">
                <img src="./../assets/images/tests/General.svg" alt="General Profile">
                <h6>General Profile</h6>
                <p>11 tests</p>
            </div>
        </div>
        <div id="slide-btn">
            <button class="slider" onclick="showSlide(0)"></button>
            <button class="slider" onclick="showSlide(1)"></button>
        </div>
    </section>



    <section id="reviews">
        <div class="flex-row">
            <h3>Why we love Tvastra</h3>
            <button class="btn-secondary">PLUS</button>
        </div>
        <div id="review-cards" >
            <div class="flex-column">                
                <p>"Wonderful experience with Tvastra Plus it
                    helped me in saving a lot of amount as it
                    provides free consultations with best
                    doctors."</p>
                <div class="reviewer-profile">
                    <i class="far fa-user"></i>
                    <h5>Rishabh Tiwari</h5>  
                    <p class="active-plan">Advanced Plan User</p>                  
                </div>                
            </div>
            <div class="flex-column">
                <p>"Fantastic experience with health test using
                    Tvastra Plus. Didn't pay anything for test.I
                    came to know my deficiency in vitamin
                    where family doctor feature helped me with
                    medicine"</p>
                <div class="reviewer-profile">
                    <i class="far fa-user"></i>
                    <h5>Mini Agarwal</h5>  
                    <p class="active-plan">Comprehensive Plan User</p>                  
                </div>                
            </div>
            <div class="flex-column">
                <p>"24x7 access to doctors in just 60 seconds
                    with 2 kids, one of them is bound to fall sick.
                    Comes in super handy."</p>
                <div class="reviewer-profile">
                    <i class="far fa-user"></i>
                    <h5>Prachi Gupta</h5>  
                    <p class="active-plan">Comprehensive Plan User</p>                  
                </div>                
            </div>
        </div>
    </section>

    <section id="faq">
        <h3>Frequently Asked Questions</h3>
        <div class="question">
            <h6>How does free in-clinic consultation with
                doctors and hospitals work?</h6>            <i class="fas fa-chevron-down"></i>

        </div>
        <div class="answer">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil quos cupiditate perspiciatis aliquid minus magni?</p>
        </div>
        <div class="question">
            <h6>Are there are any type of doctors not
                included in Tvastra Plus in-clinic
                consultation network?</h6>            <i class="fas fa-chevron-down"></i>

        </div>
        <div class="answer">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil quos cupiditate perspiciatis aliquid minus magni?</p>
        </div>
        <div class="question">
            <h6>How do the unlimited online consultation
                work?</h6>            <i class="fas fa-chevron-down"></i>

        </div>
        <div class="answer">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil quos cupiditate perspiciatis aliquid minus magni?</p>
        </div>
        <div class="question">
                <h6>How does flat 20% off on medicines
                    work?</h6>            <i class="fas fa-chevron-down"></i>

        </div>
        <div class="answer">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil quos cupiditate perspiciatis aliquid minus magni?</p>
        </div>
        <div class="question">
            <h6>How does 20% off on lab tests work?</h6>            <i class="fas fa-chevron-down"></i>


        </div>
        <div class="answer">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil quos cupiditate perspiciatis aliquid minus magni?</p>
        </div>
   </section>

   <%- include('partials/footer.ejs') %> 
    
</body>
</html>