#dashboard-container {
    display : grid;
    grid-template-columns: 30% 70%;
    background-color: var(--lighterBlue);
    .content {
        background-color: var(--white);
        > * {
            border-top: 1px solid var(--brightBlue);
            padding: 1rem;
        }
        #head {
            border-bottom: 1px solid var(--brightBlue);
            border-top: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            > * {
                margin: 0;
            }
        }
        #profile {
            display: flex;
            align-items: center;
            > :first-child {
                font-size: 2rem;
                margin-right: 1rem;
            }
        }
        input, textarea {
            border: 1px solid var(--lighterBlue);
        }
        form {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-gap: .5rem 1rem;
            > div {
                display: flex;
                flex-direction: column;
            }
            label {
                color : var(--brightBlue);
                padding: .5rem 0;
            }
        }
    }
}

#dashboard-menu {
    h3, h4 {
        margin-bottom: 0;
    }
    i {
        margin-right: 1rem;
    }
    #head {
        display : flex;
        align-items: center;
        padding: .5rem 1rem;
        color: var(--darkBlue);
        i {
            font-size: 2rem;
        }
    }
    .row {
        cursor: pointer;
        display : flex;
        align-items: center;
        padding : .5rem;
        color: var(--brightBlue);
        i {
            font-size: 1.5rem;
        }
    }
    .row:hover {
        color : white;
        background-color: var(--brightBlue);
    }
}
