html {
    height: 100%;
}
body{
    background-color: var(--bgBlue); 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
}

#container{  
    display: flex;
    justify-content: center;padding: 1rem;
}

#form-container {
    background-color: var(--white);
    width: 100%;
    padding-top: 1rem;
}

form {
    padding: 1rem;
}

#form-container input , select{
    border: 1px solid var(--lightGray);
}

select {
    font-size: 0.8rem;
}

#form-container input[type=submit] {
    letter-spacing: .35rem;
    text-transform:uppercase;
}

#form-container h4 {
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--lightGray);
    color: var(--brightBlue)
}

#form-container span a{
    color: var(--brightBlue);
}

p {
    font-family: NexaBold;
    font-weight: bold;
}


@media screen and (min-width: 760px){
    #container{
        padding: 4rem 0;
    }

    #form-container {
        width:75%;
    }
}

@media screen and (min-width: 1280px){
    #container{
        padding: 6rem 0;
    }
    #form-container {
        width : 30%;
    }

    #form-container h4, #form-container p{
        text-align: center;
    }

    #footer h6{
        text-align: center;
    }

}