html {
    height: 100%;
}
body{
    background-color: var(--bgBlue); 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
}

#container{  
    display: flex;
    justify-content: center;padding: 1rem;
}

#form-container {
    background-color: var(--white);
    width: 100%;
    padding-top: 1rem;
}

form {
    padding: 1rem;
}

form textarea {
    height: 10rem;
}

#form-container input , select, textarea{
    border: 1px solid var(--lightGray);
}

select {
    font-size: 0.7rem;
    padding-left: .5rem;
}

#submit button {
    padding: .7rem 0;
    letter-spacing: .35rem;
    font-weight: bold;
    text-transform:uppercase;
    position: relative;
    width: 100%;
}

#submit i {
    color: white;
    position: relative;
    left: 90%;
    top : -1.9rem;
}

#form-head {
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--lightGray);
    color: var(--brightBlue);
    letter-spacing : 1px;
}


#form-container span a{
    color: var(--brightBlue);
}

p {
    font-family: NexaBold;
    font-weight: bold;
}

#footer {
    padding-top: 2rem;
    padding-bottom: 1rem;
    word-spacing: .1rem;
    letter-spacing: .085rem;
}

.small {
    font-size : .8rem;
}

.registered-flag {
    color: var(--lightGray);

}

.inline {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: .3rem;
}

#appointment-form h6 {
    text-align: left;
    margin-bottom: .7rem;
    margin-top: 1rem;
}

#appointment-form :first-child {
    margin-top: 0;
}

#appointment-form div label {
    padding-left: .8rem;
}

#appointment-form input[type=file] {
    border: none;
    padding: 0;
}


@media screen and (min-width: 760px){
    #container{
        padding: 4rem 0;
    }

    #form-container {
        width:75%;
    }
}

@media screen and (min-width: 1280px){
    #container{
        padding: 6rem 0;
    }

    #form-container {
        width : 30%;
    }

    #form-head, #form-container p{
        text-align: center;
    }

    #form-container p {
        margin-bottom: 1rem;
    }

    #footer h6{
        text-align: center;
    }

}