nav {
    display: flex;
    justify-content: space-between ;
}

nav img {
    width: 7rem;
}

header #links{
    display: none;
}

header #buttons {
    display: none;
}

footer {
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
}

footer > * {
    margin-bottom: 1rem;
}
footer img {
    width:50%;
}

#links li {
    margin-bottom: 1rem;   
}

#social {
    display: inline-flex;
}

#social li {
    margin: 0.5rem;
}

footer p {
    color: var(--lightGray);    /* overiding p tag properties */
}

#links li {
    font-size: 1rem;
}


#links li a {
    text-decoration: none;
    color : var(--lightGray);
}


#help {
    background-color: var(--lightBlue);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#help p {
    font-size: 1rem;
}

#help div > :first-child{    
    color: var(--white);
}

#help button{
    width:auto;
    padding: .8rem 1rem;
}

/* <================================== FLASH Codes =========================================> */
.flashContainer {
    display: none;
}

.flashContainer {
    align-items: center;
    position: absolute;
    background-color: var(--white);
    padding: .6rem 1rem;
    top: 2.2rem;
    right: .8rem;
    animation-name: slide;
    animation-duration: 8s;
    animation-fill-mode: both; 
    z-index: -1;   
}

@keyframes slide {
    0% {
      opacity: .1;
    }
    100% {
        opacity: 0;
    }
    30%, 70% {
      opacity: 1;
      top : 6rem;
    } 
}

@keyframes fade{
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.flashContainer i {
    font-size: 1.8rem;
}

.flashContainer > :last-child {
    font-size: 1.5rem;
    color: var(--darkBlue);
}

#msg > * {
    margin: 0;
    font-family: NexaBold;
    padding: 0 5rem 0 1rem;
}

#msg > :first-child {
    font-size: 1rem;
}

#msg :nth-child(2) {
    font-size: .6rem;
}

#success {
    color: green;
    border-left: 5px solid green;
    top: 6rem;
    z-index: 0;
    animation-name: fade;
}

#fail {
    color: red;
    border-left: 5px solid red;
}

#info {
    color: blue;
    border-left: 5px solid blue;
}

@media only screen and (min-width: 760px) {
    footer {
        display: grid;
        grid-template-areas:
            "links logo"
            "rights social";
        justify-items: start;
        grid-row-gap: 1rem;
        padding-bottom: 0;
    }

    footer > *, footer p {
        color : var(--darkGray);
        font-family: NexaBold;
        font-weight: bold;
    }

    footer img {
        grid-area : logo;
        justify-self: end;
        height: 2.2rem;
        width: auto;
    }

    footer #links {
        grid-area: links;
        display: flex;
        margin-left: 0;
    }

    #links li {
        margin-right: 1.5rem;
    }
    
    #links li a {
        color : var(--darkGray);
    }

    #social li{
        font-size: 1.5rem;
    }

    footer #social {
        grid-area: social;
        justify-self: end;
    }

    footer p {
        grid-area: rights;
        padding: 0;
        font-size: 0.9rem;
        margin-top: .2rem;
    }
}

@media only screen and (min-width: 1280px) {
    nav {
        display: grid;
        grid-template-columns: 30% auto 30%;
    }

    nav .fas {
        display: none;
    }

    nav img {
        height: 2rem;
        width: 10rem;
    }


    header #links{
        display: flex;
        font-weight: bold;
        align-self: center;
    }

    header #buttons {
        display: flex;
        align-items: center;
        justify-self: end;
    }

    #buttons > * {
        font-size: .8rem;
        border-radius: .2rem;
        margin-right: .4rem;
    }

    #buttons :last-child {
        margin: 0;
    }

    #userInfo p {
        margin: 0;
        font-size: 1.25rem;
    }

    #userInfo {
        display : flex;
    }
    
    header #links li {
        font-size: 1rem;
        margin-bottom: 0;
    }

    header #links :last-child {
        margin: 0;
    }

    header #links a{
        text-decoration: none;
    }

    #help{
        display: grid;
        grid-template-columns: 2fr 1fr;
        padding: 4rem 5rem;
    }

    #help p {
        margin-bottom: 1rem;
    }

    #help button{
        position: static;
        height: 5rem;
        padding: 0;
        align-self: center;
        border-radius: 0;
        font-size: 1.5rem;
    }

    .flashContainer {
        display: flex;
    }


}