#intro {
    background-color: var(--bgBlue);
}

#search-form input[type="submit"]:hover {
    background-color: var(--white);
    color: var(--darkBlue);
    border-left: 1.5px solid var(--lightGray);
}

#forposition {
    position: relative;
}

#location i{
    position: absolute;
    padding: 0.6rem;
}

#location input {
    width: 100%;
    padding-left: 2.2rem;
}

#right-icon{
    width: 1rem;
    position: absolute;
    right: 0.6rem;
    bottom: 1rem;
}

#intro .btn-primary {
    position: relative;
    width:50%;
    left: 25%;    
}


#step-details button span{
    padding-right: 15px;
}

#step-details button {
    border: 1px solid var(--lightGray);
    margin-bottom:.6rem;
    padding:1rem;
    border-radius: .5rem;
    text-align: left;
    width: 100%;
    background-color: var(--white);
    font-family: NexaBold;
    color: var(--lightGray);
}

#step-details .active button {   
    border-color: var(--darkBlue);
}

.active button .span{    
    color: var(--darkBlue);
}

.active button span {
    color: var(--brightBlue);
}



#step-details img {
    height: auto;
    margin-bottom: .5rem;
}
#step-details figure {
    padding: 1.5rem;
    text-align: center;
}

#step-details figure figcaption :first-child {
    margin-top: 1rem;
}


.active figure {
    display: block;
}

.inactive figure {
    display: none;
}


#doctors {    
    background-color: var(--darkBlue);
}

#doctors h2,#doctors p, #help h2, #help button {
    color: var(--white);
}

#doctor-card, #treatment-card{
    display: grid;
    width: auto;
    grid-template-columns: auto;
}

#doctor-card figure, #treatment-card figure {
    background-color: var(--white);
    margin-bottom: 20px;
}

#doctor-card figure img, #treatment-card figure img {
      width: 100%;   
      height: 400px;
}

#doctor-card figure {
    border-bottom: 0.4rem solid var(--lightBlue);
}

#doctor-card figure figcaption {
    text-align: left;
    padding: 1rem;
    position: relative;
}

#doctors h6 {
    text-align: left;
    margin-bottom: 0.5rem;
    color: var(--brightBlue);
    padding-left: 1.2rem;
}

#doctors h6::before{
    content:"";
    display:block;
    background-color: var(--brightBlue);
    height:0.1rem;
    width: 2rem;
    position:absolute;
    top: 1.5rem;
    left: 0rem;
}

#doctors ul {
    padding-left: 1.3rem;
}


.img-style {
    background-size: 100% 100%;
    min-height: 18rem;
    font-size: .8rem;
    margin-bottom: .7rem;
}

.img-style figcaption {
    position: relative;
    top: 14.8rem;
    color: white;
    padding-left: 1rem; 
    letter-spacing: 1px; 
}

.img-style figcaption ul :first-child {
    font-family: NexaBold;
    font-size: 1rem;
    margin-bottom: .3rem;
}

#dentist {
    background-image: linear-gradient(to top,var(--black), transparent), url(./../images/treatments/dentistry.jpg);
}

#cancer {
    background-image: linear-gradient(to top,var(--black), transparent), url(./../images/treatments/cancer.jpg);
}

#Multi-Organ {
    background-image: linear-gradient(to top,var(--black), transparent), url(./../images/treatments/multiOrgan.jpg);    
}

#cardiologic {
    background-image: linear-gradient(to top,var(--black), transparent), url(./../images/treatments/cardiology.jpg);    
}

#Orthopedics {
    background-image: linear-gradient(to top,var(--black), transparent), url(./../images/treatments/orthopedics.jpg);    
}

#Infertility {
    background-image: linear-gradient(to top,var(--black), transparent), url(./../images/treatments/infertility.jpg);    
}

#services {
    background-color: var(--dullWhite);
}


#service-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

#service-card figure {
    background-color: white;
    border-radius: 15px ;
    padding: 1rem;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#service-card figcaption {    
    font-family: NexaBold;
    font-weight: bold;
    color: var(--darkGray);
}


#service-card figure img {
    width: auto;
    height: auto;
}












@media only screen and (min-width: 760px) {
    #search-form {
        display: grid;
        grid-template-columns: 1fr 2fr .8fr;
        height: 2.4rem;
    } 

    #intro .btn-primary{
        position: static;
        width: 100%;
    }

    #intro .textbox {
        border-left: 1.5px solid var(--lightBlue);        
    }


    #step-details div{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #step-details figure {
        position: absolute;
        width:20rem;
        left:55%;
        padding-top: .8rem;
    }

    #doctor-card {
        display : grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0rem 1rem;;
    }

    #treatment-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem 1rem;
    }

    .img-style {
        margin: 0;
    }

    #service-card {
        grid-template-columns: 1fr 1fr 1fr;
    }


}

@media only screen and (min-width: 1280px){
    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 1.1rem;
    }

    p {
        margin: 0rem 0rem 3rem;
    }

    #intro {
        background-image: url(./../images/introbg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
        grid-template-columns: 2fr 1fr;
        align-items: center;
        height: 27rem;
    }

    #intro>div p {
        margin-bottom: 2rem;
    } 

    #intro div > * {
        text-align: left;
    }

    #search-form input {
        padding : 1.1rem;
    }
    
    #location i{
        padding-top: 1rem;
        padding-left: 1rem;
    }
    
    #location input {
        padding-left: 2.5rem;
    }
    
    #right-icon{
        bottom: 1.5rem;
    }

    #step-details button {
        font-size: 1.5rem;
        padding: 2.5rem;
        padding-right: 0;
    }

    #step-details button .span {
        margin-left: 2rem;
    }

    #step-details div{
        grid-template-columns: 1.5fr 2fr;
    }

    #step-details figure {
        width:40rem;
        left:50%;
        padding-top: 2rem;
    }

    #step-details figure figcaption > * {
        text-align: center;
    }

    #doctor-card {
        grid-template-columns: repeat(4,1fr);
    }

    #treatment-card {
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(8,1fr);
    }

    .img-style {
        background-size: cover;
    }

    #treatment-card figcaption {
        position: relative;
        top:85%;
    }

    #treatment-card :nth-child(1) {
        grid-row: 1 / span 3;
        grid-column: 1;
    }

    #treatment-card :nth-child(2) {
        background-position: 70%;
        grid-row: 1 / span 5;
        grid-column: 2;
    }

    #treatment-card :nth-child(3) {
        grid-row: 1/ span 4;
        grid-column: 3;
    }

    #treatment-card :nth-child(4) {
        grid-row:  4 / span 7;
        grid-column: 1;
    }

    #treatment-card :nth-child(5) {
        grid-row: 6 / span 5;
        grid-column: 2;
    }

    #treatment-card :nth-child(6) {
        grid-row: 5 /span 6;
        grid-column: 3;
    }
 
    #treatment-card :nth-child(1) figcaption, #treatment-card :nth-child(5) figcaption {
        top:80%;
    }
    
    #treatment-card :nth-child(2) figcaption, #treatment-card :nth-child(4) figcaption {
        top:88%;
    }

    #service-card {
        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-gap: .2rem;
    }

    #service-card figure {
        border-radius: 0;
        padding: 2rem;
    }
}