#banner {
    display: none;
}

#path {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
}

#path h5 {
    margin-bottom: 0;
    align-self: center;
}


#container div {
    border: 1px solid var(--lightBlue);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

#container div h5 {    
    text-align: left;
    color: var(--brightBlue);
    padding-left: 2rem;
}

#container h5::before{
    content:"";
    display:block;
    background-color: var(--brightBlue);
    height:0.2rem;
    width: 2.8rem;
    position: relative;
    top: .7rem;
    left: -3rem;
}

#container ul li {
    margin-bottom: .5rem;
    font-family: NexaLight;
}

#container ul li i {
    margin-right: 1rem;
    color: var(--brightBlue);
}

#container button {
    margin-bottom: 1rem;
    align-self:center;
}

#container div img {
    height:20rem;
    width: auto;
    justify-self: end;
}

#container .callnow{
    width: 9rem;
}


@media only screen and (min-width: 640px) {
    #container div {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #container div img {
        grid-row: 1/4;
        grid-column: 2;
    }

    #container button {
        justify-self: center;
    }

    #container .callnow {
        left: 0%;
    }

    #banner {
        background-image: linear-gradient(180deg, rgba(156,191,218,.7) 0%, rgba(156,191,218,.7) 100%), url("./../images/doctors.png");
        background-repeat: no-repeat;
        background-color: blue;
        background-size: cover;
        background-position: 40%;
        height:12rem;
        display: block;
    }

    #banner h3 {
        text-align: left;
        padding: 0;
        margin-top: 3rem;
        font-family: NexaLight;
        font-weight: bold;
    }

    #banner h3 span {
        text-decoration:underline;
    }
}