* {
    box-sizing: border-box;
    outline: none;
}

@font-face {
    font-family: "NexaBold";
    src: url(../fonts/Nexa-Bold.otf);
}

@font-face {
    font-family: "NexaLight";
    src: url(../fonts/Nexa-Light.otf);
}

:root {
    --black : #000;
    --white : #fff;
    --dullWhite : #F5F5F5;

    --lightBlue : #9cbfda;
    --brightBlue : #0173b2;
    --darkBlue : #021433;
    --bgBlue : #8fcaf1;
    --lighterBlue : #eeebeb;

    --Gray: #636668;
    --lightGray: #ccc;
    --darkGray: #525659;
    --mixGray: #777;
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: NexaLight;
}

/* <-------------------------------------- Header And Footer Themes ----------------------------------------------> */

header {
    padding: 1rem;
    background-color: var(--white);
}

footer {
    background-color: var(--darkBlue);
    color: var(--lightGray);
    padding: 2rem 1.5rem 1rem;
    border-bottom: .5rem solid var(--brightBlue);
}


/* <-----------------------------------General tag theme------------------------------------->*/

body > section{
    padding: 2rem 1rem;
}

body > div {
    padding: 0 1rem;
}


h1, h2, h3, h4, h5, h6 {
    font-family: NexaBold;
    margin-bottom: 1rem;
    text-align: center;
}

h1 {
    font-size: 1.8rem;
    line-height: 2rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.3rem;
}

h5 {
    font-size: 1.2rem;
}

h6 {
    font-size: 1rem;
}

p {
    font-family: "NexaLight";
    color: var(--darkBlue);
    font-size: 1rem;
    line-height: 1.2rem;
    word-spacing: 0.1rem;
    letter-spacing: 0.08rem;
    margin-bottom: 1rem;
    text-align:center;
}

img {
    width :100%;
    height : 100%;
    object-fit: cover;
}

figcaption {
    font-family: NexaLight;
    color: var(--darkBlue);
}

ul, ol {
    font-family: NexaLight;
    font-size: .85rem;
    line-height: 1.3rem;
    letter-spacing: .08rem;
}

a{
    text-decoration: none;
}



/* <--------------------------------------------- Atribute related themes ---------------------------------------> */

::placeholder {
    color : var(--lightGray);
    font-size: 0.85rem;
    font-family: NexaLight;
    letter-spacing: .05rem;
    font-weight: bold;
}

/* <---------------------------------------------- Form themes ---------------------------------------------> */


form {
    display: flex;
    flex-direction: column;
}

input , select{
    font-family: nexaLight;
    font-size: .9rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
}

select {    
    background-color: white;
    color : var(--lightGray);
}

label {
    font-family: nexaLight;
    font-size: .85rem;
    padding-left: .8rem;
    padding-top: .3rem;
    letter-spacing: .1rem;
}

textarea, input, select {    
    border: none;
    outline: none;
    margin-bottom: 0.5rem;
    padding: .6rem .8rem;
}



button {
    font-family: NexaLight;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    letter-spacing: 0.05rem;
    cursor: pointer;
    border: none;
    outline: none;
}



/* <---------------------------------------- Button color variant themes -----------------------------------> */


.btn-primary {
    background-color: var(--darkBlue);
    color: var(--white);
}

.btn-secondary {
    background-color: var(--brightBlue);
    color: white;
    border-radius: 0.5rem;
}

.btn-light {
    background-color: var(--white);
    color: var(--darkBlue);
    border: 0.01rem solid var(--darkBlue);
}


/* <------------------------------ Media Query themes ------------------------------------------------------------> */

@media only screen and (min-width: 760px ){
    body > section {
        padding: 2rem 2rem;
    }

    body > div {
        padding: 0 2rem;
    }

    footer {
        background-color: var(--white);
        padding-bottom: 1rem;
    }
}

@media only screen and (min-width: 1280px){
    header {
        padding: 1.5rem 6rem;
    }    
    
    body > section {
        padding: 4.5rem 6rem;
    }

    body > div {
        padding: 0 6rem;
    }
    
    footer {
        padding: 1.5rem 6rem;
        text-align: center;
    }

    h1, h2, h3, h4, h5, h6 {
        text-align: left;
    }

    h1 {
        font-size: 2.5rem;
    }
    
    h2 {
        font-size: 2.2rem;
    }
    
    h3 {
        font-size: 1.9rem;
    }
    
    h4 {
        font-size: 1.5rem;
    }
    
    h5 {
        font-size: 1.2rem;
    }
    
    h6 {
        font-size: 1.1rem;
    }

    p {
        font-size: 1.1rem;
        line-height: 1.5rem;
        text-align: left;
    }
}

@media screen and (max-width: 480px) {
    body {
       overflow-y: scroll;
    }
}